@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

a:link,
a:visited,
a:active {
    text-decoration: none;
    /* Supprime le soulignement */
    color: inherit;
    /* Fait en sorte que la couleur du lien soit la même que le texte environnant */
}

a:hover {
    color: #ff6347;
    /* Change la couleur du lien lorsqu'il est survolé */
}

body, html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #2a3140e8;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.profile {
    flex: 1;
    align-items: center;
    display: flex;
}

.profile img {
    height: 100px;
    width: 100px;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
}

.menu {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
}

.nav-link.current {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 33px;
}

.social {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: right;
    padding-right: 40px;
}


header li {
    display: inline;
    margin: 10px
}

.social img {
    height: 20px;
    width: 20px;
}

.social img:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(96%) saturate(6043%) hue-rotate(9deg) brightness(102%) contrast(104%);
}

.main-content {
    width: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 20%;
    padding-top: 100px;
    padding-bottom: 30px;
    overflow-y: auto;
    z-index: 1;
    background-color: #2a3140e8;
    color: white;
}