@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

a:link,
a:visited,
a:active {
    text-decoration: none;
    /* Supprime le soulignement */
    color: inherit;
    /* Fait en sorte que la couleur du lien soit la même que le texte environnant */
}

a:hover {
    color: #ff6347;
    /* Change la couleur du lien lorsqu'il est survolé */
}

body, html {
    font-family: 'Roboto', sans-serif;
    background-color: #2a3140e8;
}


hr {
    border: none;
    border-top: 1px solid #F27405;
    overflow: visible;
    height: 1px;
}

header {
    background-color: #2a3140e8;
    color: white;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.profile {
    flex: 1;
    align-items: center;
    display: flex;
}

.profile img {
    height: 100px;
    width: 100px;
    padding-left: 20px;
    padding-top: 40px;
    padding-right: 20px;
}

.menu {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: large;
}

.nav-link.current {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 33px;
    text-decoration-color: #F25E3D;
}

.social {
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: right;
    padding-right: 40px;
}


header li {
    display: inline;
    margin: 10px
}

.social img {
    height: 20px;
    width: 20px;
}

.social img:hover {
    filter: brightness(0) saturate(100%) invert(28%) sepia(96%) saturate(6043%) hue-rotate(9deg) brightness(102%) contrast(104%);
}

.main-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 70px;
    padding-bottom: 30px;
    overflow: auto;
    z-index: 1;
    color: white;
    width: 80%;
    margin: 0 auto;
}

.main-content h1 {
    margin-top: 70px;
    padding: 60px;
    font-size: 80px;
    justify-content: center;
    text-align: center;
}

.main-content h1 .subtitle {
    display: block; /* Make the subtitle go to the next line */
    font-size: 0.4em; /* Make the subtitle smaller */
    font-weight: normal;
}

.main-content h2 {
    font-size: 60px;
}

.main-content p {
    text-align: justify;
}

.section {
    justify-content: center;
    align-items: center;
    border: 1px solid #F25E3D;
    border-radius: 10px;
    background-color: #2a3140;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10%;
}

.section .title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    padding-right: 40px;
    padding-top: 40px;
}

.section .title-section img {
    height: 200px;
    width: 200px;
    margin-right: 60px;
}


.section .text-content {
    display: flex;
    padding-left: 40px;
    padding-right: 40px;
}

.section .text-content .text-elem{
    flex: 1;
    padding: 20px;
}


.text-content h3 {
    font-weight: normal;
    font-size: 30px;
}


.text-content li::marker {
    color: #F25E3D;
}

.text-content li {
    margin: 8px;
}

@keyframes bounce_bottom {
    0%, 100% {transform: translateY(0);}
    5% {transform: translateY(-20px);}
}

@keyframes bounce_top {
    0%, 100% {transform: translateY(0);}
    5% {transform: translateY(20px);}
}
